@using MLinfo_v1._0.Models.DatabasedModels
@model Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorsE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorsE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorsR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorsR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SourceE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SourceE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SourceR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SourceR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolumeE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolumeE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolumeR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolumeR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Issue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Issue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PagesE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PagesE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PagesR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PagesR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doir)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doir)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Methods)
        </dt>
        <dd class="col-sm-10">
            @Model.MethodsToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>
        <dd class="col-sm-10">
            @Model.KeywordsToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PdfFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PdfFile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-outline-danger">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
