@using MLinfo_v1._0.Models.DatabasedModels
@model IEnumerable<Article>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Articles List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Articles" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; Create new Article
            </a>
        </div>
    </div>
    <br />
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TitleE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TitleR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorsE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorsR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SourceE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SourceR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VolumeE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VolumeR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PagesE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PagesR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Doie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Doir)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Methods)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Keywords)
                </th>
                <th />
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model)
            {
                <tr>
                    <td>
                        @article.TitleE
                    </td>
                    <td>
                        @article.TitleR
                    </td>
                    <td>
                        @article.AuthorsE
                    </td>
                    <td>
                        @article.AuthorsR
                    </td>
                    <td>
                        @article.SourceE
                    </td>
                    <td>
                        @article.SourceR
                    </td>
                    <td>
                        @article.Year
                    </td>
                    <td>
                        @article.VolumeE
                    </td>
                    <td>
                        @article.VolumeR
                    </td>
                    <td>
                        @article.Issue
                    </td>
                    <td>
                        @article.PagesE
                    </td>
                    <td>
                        @article.PagesR
                    </td>
                    <td>
                        @article.Doie
                    </td>
                    <td>
                        @article.Doir
                    </td>
                    <td>
                        @article.MethodsToString()
                    </td>
                    <td>
                        @article.KeywordsToString()
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.ID"
                           class="btn btn-info mx-2"> <i class="bi bi-x-square"></i> Details</a>
                            <a asp-controller="Articles" asp-action="Edit" asp-route-id="@article.ID"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-controller="Articles" asp-action="Delete" asp-route-id="@article.ID"
                           class="btn btn-danger mx-2"> <i class="bi bi-x-square"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

