@model MLinfo_v1._0.Models.ViewModels.OrganizationSelectModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Organization</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.OrganizationDB.NameE" class="form-label mt-2"></label>
                <input asp-for="@Model.OrganizationDB.NameE" class="form-control" />
                <span asp-validation-for="@Model.OrganizationDB.NameE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OrganizationDB.NameR" class="form-label mt-2"></label>
                <input asp-for="@Model.OrganizationDB.NameR" class="form-control" />
                <span asp-validation-for="@Model.OrganizationDB.NameR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OrganizationDB.CountryId" class="form-label mt-2"></label>
                <select class="form-select" asp-for="@Model.OrganizationDB.CountryId" asp-items="@Model.Countries">
                    <option>Select country</option>
                </select>
                <span asp-validation-for="@Model.OrganizationDB.CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary mt-3">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
