@model MLinfo_v1._0.Models.ViewModels.AuthorSelectModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.AuthorDB.NameE" class="form-label mt-2">Name English</label>
                <input asp-for="@Model.AuthorDB.NameE" class="form-control" />
                <span asp-validation-for="@Model.AuthorDB.NameE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.AuthorDB.NameR" class="form-label mt-2">Name Russian</label>
                <input asp-for="@Model.AuthorDB.NameR" class="form-control" />
                <span asp-validation-for="@Model.AuthorDB.NameR" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="@Model.SelectedOrgIds" class="form-label mt-2">Organizations</label>
                <select class="form-select" multiple="multiple" asp-for="@Model.SelectedOrgIds" asp-items="@Model.Organizations"></select>
                <span asp-validation-for="@Model.SelectedOrgIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-3"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary mt-3">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
